<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Skin Disease Identification</title>
    <link rel="stylesheet" type="text/css" href="{% static 'iden.css' %}">
</head>
<body>
    <div class="container">
        <h1>Skin Disease Identification</h1>
        
        <form enctype="multipart/form-data" method="POST" action="/identify/result">

            {% csrf_token %}
            <div class="upload-area">
                <label for="image-upload">
                    <div class="upload-box">
                        <span>Drag and drop or click to upload an image</span>
                    </div>
                </label>
                <input type="file" id="image-upload" name="image" accept="image/*">
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>

